*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --x: 340px;
    --y: 350px;
}
body{
    background-image: url(https://wallpapers.com/images/hd/photography-nature-background-nu9aq1uufpjvi3k4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.box{
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    background: radial-gradient( 120px at var(--x) var(--y), rgba(242, 252, 248, 0), rgba(7, 7, 7, 0.925));
    display: flex;
    align-items: center;
    justify-content: center;
}
.box h2{
    color: rgb(4, 241, 43);
    
    text-shadow: 2px 2px 8px rgb(25, 243, 43);
    font-size: 4rem;
}