*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --x: 340px;
    --y: 350px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1542038784456-1ea8e935640e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9ncmFwaHl8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.box{
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    background: radial-gradient( 120px at var(--x) var(--y), rgba(242, 252, 248, 0), rgba(7, 7, 7, 0.815));
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: rgb(4, 241, 43);
    -webkit-text-stroke: 3px green;
    text-shadow: 2px 2px 8px rgb(25, 243, 43);
    font-size: 4rem;
}