*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --x: 340px;
    --y: 350px;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/06/53/beautiful-natural-image-1844362_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.box{
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    background: radial-gradient( 120px at var(--x) var(--y), rgba(242, 252, 248, 0), rgba(7, 7, 7, 0.815));
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: greenyellow;
    font-size: 2rem;
}